#main {
  color: white;
  width: 100%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

#main:hover {
  .scrollSpyContainer {
    background: #ee7752;
    display: none;
    transition: opacity 0.5s ease-in-out;
  }
}

.scrollSpyContainer {
  z-index: 1000;
  display: block;
  right: 12px;
  top: 1rem;
  position: fixed;
  background-color: white;
  border-radius: 4px;
  padding: 1rem;
}

ul li {
  list-style-type: none;
}

img {
  max-height: 900px;
}

.textSection {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 7.5rem;

  &__container {
    position: relative;

    &_content {
      position: absolute;
      padding: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;

      &_span {

        &_header {
          color: green;
          font-size: 2rem;
          text-shadow: 1px 1px rgba(0,0,0,0.5);
          font-weight: 600;
        }

        &_heritageText {
          color: green;
          text-shadow: 1px 1px rgba(0,0,0,0.5);
          font-size: 1.8rem;
        }
      }
    }

    &_image {
      width: 100%;

      &_element {
        width: 100vw;
        object-fit: cover
      }
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {

  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
  }
}

.spyItemClass {
  color: tomato;
  padding: 4px;

}

.spyItemClass:hover {
  cursor: pointer;
}

.active {
  font-weight: bold;
  color: black
}

#One {
  margin-bottom: 0.5rem;
}

#Two {
  margin-bottom: 0.5rem;

}

#Three {
  margin-bottom: 0.5rem;

}

#Four {
  margin-bottom: 0.5rem;

}

#Five {
  margin-bottom: 0.5rem;

}

#Six {
  margin-bottom: 0.5rem;

}

#Seven {
}

.ourMessage {
  font-size: 1.8rem;
  color: green;
  margin-top: 1rem;
}
